<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--    注册驱动-->
    <mvc:annotation-driven/>







    <!--    开启扫描-->
    <context:component-scan base-package="com.wuzl.controller"/>



    <!--    视图解析器-->
 <!--    jsp视图解析-->
<!--    <bean id="view" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--        <property name="prefix" value="/WEB-INF/view/"/>-->
<!--        <property name="suffix" value=".jsp"/>-->
<!--    </bean>-->



    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".html"/>
        <property name="contentType" value="application/json; charset=UTF-8"/>
    </bean>

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/start/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="locale">zh_CN</prop>
                <prop key="defaultEncoding">UTF-8</prop>
                <!-- <prop key="date_format">yyyy-MM-dd</prop> -->
                <!-- <prop key="time_format">HH:mm:ss</prop> -->
                <!-- <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop> -->
                <!-- <prop key="number_format">0.################</prop> -->
            </props>
        </property>
    </bean>







</beans>
